<form class="form">
  <mat-form-field class="form-full-width">
    <input 	type="text" 
    				placeholder="Сделайте выбор" 
    				matInput 
    				name="city"
    				[matAutocomplete]="auto"   
    				(input)="getCities(city)"   				
    				[(ngModel)]="city">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let optionObj of options" [value]="optionObj" (click)="onSelectCity(optionObj.name)">
        {{ optionObj.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button class="btn btn-common" mat-button (click)="submitForm(city)">
    Навигация
  </button>	  
</form>
